*{
  font-size: 18px;
}
.navbar{
  width: 100%;
  position: fixed;
  z-index: 3;
}
.navbar-brand img{
  width: 90px;
}


.container-fluid{
  margin-right:3rem;
}
.honolulu img{
  max-width: 100%;
}
.btn-comprar{
    background-color: #29a744;
    margin-left: 20px;
    border: none;
}
.btn-comprar:hover{
  scale: 1.2;
  background-color: #29a744;
}
.btn-orador:hover{
  scale: 1.2;
}
.btn-enviar{
  background-color: #96c93e;
}
.btn-enviar:hover{
  background-color: #96c93e;
}
.card{
  width: 25rem;
}
.formulario .enlace{
  text-decoration: none;
  color: black;
  border-bottom: 1px black dashed;
}
.footer{
  background-color: #1e516e;
  height: 90px;
  }

@media (max-width: 992px) {

.container-fluid{
  margin-right: 2rem ;
  text-align: center;
  
} 
.parrafo{
  visibility: hidden;
}
.carousel{
  padding-top: 4.5rem;
  
}
.carousel-item img{
  height: 50vh;
  object-fit:cover;
  
} 
.parrafoUno{
  width: 100%;
} 
.footer{
  height: 200px;   
}  
.footer-lista{
  flex-direction: column;
} 

.collapse{
  width: 100%;
  background-color:#212529;
  position: absolute;
  z-index: 1;
  top: 2vh;
  left: 0px;
  margin-top: 3rem;
  padding-top:  3rem;
  
  
} 
.parrafoDos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  text-align: center;
}
.inputs{
  width: 100%;
  flex-direction: column;
}
.formulario{
  margin: 0 auto;
  width: 100%;
}
}